absl-py==2.1.0
aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aiohttp-cors==0.7.0
aiosignal==1.3.1
annotated-types==0.7.0
astroid==3.1.0
astunparse==1.6.3
async-timeout==4.0.3
attrs==24.2.0
blessed==1.20.0
cachetools==5.5.0
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
cloudpickle==3.0.0
colorful==0.5.6
contourpy==1.3.0
cycler==0.12.1
dill==0.3.8
distlib==0.3.8
dm-tree==0.1.8
Farama-Notifications==0.0.4
filelock==3.16.0
flatbuffers==24.3.25
fonttools==4.53.1
frozenlist==1.4.1
fsspec==2024.9.0
gast==0.6.0
google-api-core==2.19.2
google-auth==2.34.0
google-auth-oauthlib==1.2.1
google-pasta==0.2.0
googleapis-common-protos==1.65.0
gpustat==1.1.1
grpcio==1.66.1
gymnasium==0.28.1
h5py==3.11.0
idna==3.9
imageio==2.35.1
importlib_metadata==8.5.0
isort==5.13.2
jax-jumpy==1.0.0
Jinja2==3.1.4
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
keras==2.15.0
kiwisolver==1.4.7
lazy_loader==0.4
libclang==18.1.1
lz4==4.3.3
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.6.3
mccabe==0.7.0
mdurl==0.1.2
ml-dtypes==0.2.0
mpmath==1.3.0
msgpack==1.1.0
multidict==6.1.0
networkx==3.2.1
numpy==1.26.4
nvidia-ml-py==12.560.30
oauthlib==3.2.2
onnx==1.16.2
onnx2torch==1.5.15
opencensus==0.11.4
opencensus-context==0.1.3
opt-einsum==3.3.0
packaging==24.1
pandas==2.2.2
pillow==10.4.0
platformdirs==4.3.3
prometheus_client==0.20.0
proto-plus==1.24.0
protobuf==4.25.4
psutil==6.0.0
py-spy==0.3.14
pyarrow==17.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pydantic==2.9.1
pydantic_core==2.23.3
pygame==2.5.2
pyglet==2.0.14
Pygments==2.18.0
pylint==3.1.0
pyparsing==3.1.4
python-dateutil==2.9.0.post0
pytz==2024.2
PyYAML==6.0.2
ray==2.9.3
referencing==0.35.1
requests==2.32.3
requests-oauthlib==2.0.0
rich==13.8.1
rpds-py==0.20.0
rsa==4.9
scikit-image==0.24.0
scipy==1.13.1
shellingham==1.5.4
six==1.16.0
smart-open==7.0.4
sympy==1.13.2
tensorboard==2.15.2
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
tensorflow==2.15.0
tensorflow-estimator==2.15.0
tensorflow-io-gcs-filesystem==0.37.1
tensorflow-macos==2.15.0
termcolor==2.4.0
tifffile==2024.8.30
tomli==2.0.1
tomlkit==0.13.2
torch==2.4.1
torchvision==0.19.1
tqdm==4.65.0
typer==0.12.5
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.3
virtualenv==20.26.4
wcwidth==0.2.13
Werkzeug==3.0.4
wrapt==1.14.1
yarl==1.11.1
zipp==3.20.2
